* {
  font-family: Poppins;
}

.navbar {
  display: flex;
  background-color: #d9d9d9;
  padding: 16px 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: center;
}

.navbar a {
  color: black;
  font-size: 15px;
  margin: 0 20.8px;
  text-decoration: none;
  text-align: center;
}

.title {
  text-align: center;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-style: bold;
  margin-bottom: 0;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.content-kiri {
  margin-right: 2%;
}
.tentara {
  width: 490px;
  height: 180px;
  flex-direction: row;
  align-items: flex-end;
}

.rectangle-tentara {
  background-color: #d5ffdd;
  width: 490px;
  height: 180px;
  border-radius: 20px;
  align-items: end;
  display: flex;
}

.image-tentara {
  width: 230px;
  height: auto;
}

.text-button-container-tentara {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 3%;
  position: relative;
  top: -10px;
}

.title-tentara {
  margin: 0;
  font-size: 32px;
}

.subtitle-tentara {
  margin-top: 0;
  margin-bottom: 15%;
  font-size: 14px;
}

.button-tentara {
  background-color: #399349;
  border-radius: 15px;
  width: 240px;
  height: 37px;
  border: none;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.content-kiri-bawah {
  margin-top: 6.6%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.topi-kuning {
  background-color: #fff4dc;
  border-radius: 20px;
  width: 235px;
  height: 180px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.image-topi-kuning {
  width: 173.7px;
  height: 170px;
}

.button-topi-kuning {
  background-color: #e29a00;
  width: 173px;
  height: 37px;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin-bottom: 0.7%;
}

.pramugari-pink {
  background-color: #ffced7;
  margin-top: 10%;
  border-radius: 20px;
  width: 235px;
  height: 180px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.image-pramugari-pink {
  width: 173.7px;
  height: 170px;
}

.button-pramugari-pink {
  background-color: #ff5573;
  width: 173px;
  height: 37px;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin-bottom: 0.7%;
}

.fotografer {
  background-color: #e2f2ff;
  border-radius: 20px;
  width: 230px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-fotografer {
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

.text-button-container-fotografer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-fotografer {
  font-size: 20px;
  margin-bottom: 0;
}

.subtitle-fotografer {
  font-size: 12px;
  width: 133px;
  text-align: center;
}

.button-fotografer {
  background-color: #3279af;
  width: 173px;
  height: 37px;
  border-radius: 15px;
  border: none;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.content-kanan {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.frame-luar-content-kanan-atas {
  background-color: #f4f4f4;
  width: 500px;
  height: 392px;
  border-radius: 20px;
}

.frame-dalam-content-kanan-atas {
  margin: 34px;
  row-gap: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dokter,
.pilot,
.ilmuan {
  width: 423px;
  height: 96px;
  display: flex;
  align-items: center;
  border: solid 1.6px #d8d6c1;
  background-color: #ffffff;
  border-radius: 20px;
}

.image-dokter,
.image-pilot,
.image-ilmuan {
  margin-left: 5%;
  margin-right: 9.6px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  vertical-align: top;
}

.container-title-button-dokter,
.container-title-button-pilot,
.container-title-button-ilmuan {
  margin-top: 10px;
  width: 238.4px;
}

.title-dokter,
.title-pilot,
.title-ilmuan {
  margin: 1%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
}

.button-dokter,
.button-pilot,
.button-ilmuan {
  width: 149px;
  height: 22px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: #d8d6c1;
  border-radius: 10px;
  border: none;
}

.frame-luar-content-kanan-bawah {
  width: 500px;
  height: 181px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 0.6%;
}

.frame-dalam-content-kanan-bawah {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.pembalap,
.astronout {
  display: flex;
  align-items: center;
}

.image-pembalap,
.image-astronout {
  width: 120px;
  height: 120px;
}

.container-title-button-pembalap,
.container-title-button-astronout {
  width: 125px;
}

.title-pembalap,
.title-astronout {
  margin-bottom: 14.4px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
}

.button-pembalap,
.button-astronout {
  width: 100px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d6c1;
  border-radius: 10px;
  border: none;
}

@media (min-width: 320px) and (max-width: 424px),
  (min-width: 425px) and (max-width: 1279px) {
  .navbar {
    top: auto;
    bottom: 0;
  }

  .navbar a {
    margin: 0 8px;
  }

  .title {
    height: 100px;
    margin-top: 0;
    margin-bottom: 65px;
    font-size: 32px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .content-kiri {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .content-kiri-bawah {
    display: flex;
    align-items: center;
  }

  .tentara {
    width: 289px;
    height: 299px;
    flex-direction: column;
    align-items: flex-end;
  }

  .rectangle-tentara {
    flex-direction: column;
    width: 289px;
    height: 299px;
    align-items: center;
  }

  .image-tentara {
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    margin-top: -18%;
  }

  .text-button-container-tentara {
    align-items: center;
  }

  .title-tentara {
    position: relative;
    font-size: 24px;
    top: 14px;
    margin-top: 10%;
    margin-bottom: 0;
  }

  .subtitle-tentara {
    position: relative;
    top: 18px;
    margin-top: 0;
  }

  .button-tentara {
    width: 212.41px;
    height: 45.43;
    margin-top: -53.5%;
  }

  .content-kiri-bawah {
    margin: 10%;
    flex-direction: column;
    row-gap: 30px;
  }

  .topi-kuning,
  .pramugari-pink {
    border-radius: 20px;
    width: 288.53px;
    height: 221px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
  }

  .image-topi-kuning,
  .image-pramugari-pink {
    position: relative;
    bottom: -0.8%;
    width: 213.26px;
    height: 208.72px;
  }

  .button-topi-kuning,
  .button-pramugari-pink {
    width: 212.41px;
    height: 45.43px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .content-kiri-bawah {
    display: flex;
  }

  .fotografer {
    margin-top: 10%;
    width: 289px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image-fotografer {
    border-radius: 20px;
    width: 230px;
    height: 230px;
    margin-top: -12%;
  }

  .text-button-container-fotografer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-fotografer {
    position: relative;
    font-size: 24px;
    top: 2px;
    margin-bottom: 0px;
  }

  .subtitle-fotografer {
    position: relative;
    top: 6px;
    margin-top: 0;
    font-size: 12px;
    width: 150px;
    text-align: center;
  }

  .button-fotografer {
    width: 212.41px;
    height: 45.43px;
    margin-top: -63.5%;
  }

  .frame-luar-content-kanan-atas {
    margin-top: -18%;
    background: transparent;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .frame-dalam-content-kanan-atas {
    row-gap: 30px;
  }

  .dokter,
  .pilot,
  .ilmuan {
    border: none;
    border-radius: 20px;
    width: 288.53px;
    height: 221px;
    display: flex;
    flex-direction: column;
    background: #e9e8e2;
    width: 288.53px;
    height: 221px;
  }

  .image-dokter,
  .image-pilot,
  .image-ilmuan {
    position: relative;
    bottom: -4.5%;
    width: 213px;
    height: 213px;
    margin: 0;
  }

  .container-title-button-dokter,
  .container-title-button-pilot,
  .container-title-button-ilmuan {
    margin-top: 20px;
  }

  .title-dokter,
  .title-pilot,
  .title-ilmuan {
    position: absolute;
    font-size: 0px;
    color: transparent;
    width: 0px;
    height: 0px;
  }

  .button-dokter,
  .button-pilot,
  .button-ilmuan {
    align-items: center;
    width: 212.41px;
    height: 45.43px;
    background-color: #cac8b3;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: -145%;
    left: 5%;
  }

  .content-kanan {
    row-gap: 0;
  }

  .frame-luar-content-kanan-bawah {
    margin-top: -1.5%;
    width: auto;
    height: auto;
    background-color: transparent;
    padding-bottom: 75px;
  }

  .frame-dalam-content-kanan-bawah {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .pembalap {
    background: #ffdbc5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 288.53px;
    height: 221px;
  }

  .image-pembalap,
  .image-astronout {
    position: relative;
    bottom: -5%;
    width: 213px;
    height: 213px;
    margin: 0;
  }

  .container-title-button-pembalap,
  .container-title-button-astronout {
    width: auto;
  }

  .title-pembalap,
  .title-astronout {
    margin-bottom: 0px;
    font-size: 0px;
    font-weight: 0px;
    line-height: 0px;
    color: transparent;
  }

  .button-pembalap {
    width: 212.41px;
    height: 45.43px;
    background-color: #e36415;
    border-radius: 15px;
    font-size: 20px;
    position: relative;
    top: -100%;
  }

  .astronout {
    background: #8fc5ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 288.53px;
    height: 221px;
  }

  .button-astronout {
    width: 212.41px;
    height: 45.43px;
    background-color: #275e87;
    border-radius: 15px;
    font-size: 20px;
    position: relative;
    top: -100%;
  }
}
/* this code belong to valentinohrynt at github.com */